@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>素材管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="mobile" name="创建人电话" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Material.search()"/>
                                <#button name="刷新" btnCss="danger" icon="fa-refresh" clickFun="Material.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MaterialTableToolbar" role="group">
                            <#button name="名片详情" btnCss="success" icon="fa-address-card-o" clickFun="Material.openWxUserCardDetail()" />

                        </div>
                        <#table id="MaterialTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/material/material.js"></script>
@}
