html,body,div,table,tr,td{
    margin:0;
    padding:0;
}

.container{
    position:relative;
    color: #331512;
    height:100vh;
    -webkit-user-select:none;
}
.container #infovis{
  position: absolute;
  width:100%;height:100vh;
  left:50%;top:50%;
  transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
.container .right-container{
    position: relative;
    z-index:5;
    width:fit-content;
}
.container #log{
    position: relative;
    text-align:center;
    font-size: larger;
    color: #1E0FBE;
    font-weight: bold;
}

/* 块的样式 */
.container .wrap{
    width:150px;
    height:100px;

    /* background:#fff; */
    /*border:1px solid #331512;*/
}
.container .wrap>div{
    height:25%;
    /*border-bottom:1px solid #331512;*/
    text-align: left;
    vertical-align: middle;
}
.container .wrap>img{
    height:50%;
    /*border-bottom:1px solid #331512;*/
    text-align: center;
    vertical-align: middle;
}
.container .wrap>div:last-child{
    border-bottom:none;
}