@layout("/common/_container.html"){
<div id="demo-toolbar" class="btn-group btn-group-toggle" data-toggle="buttons">
    <button id="addBtn" type="button" class="btn btn-secondary">向表格添加数据</button>
    <button id="selectBtn" type="button" class="btn btn-secondary">测试选中</button>
    <button id="expandRowBtn" type="button" class="btn btn-secondary">展开/折叠【系统管理】</button>
    <button id="expandAllBtn" type="button" class="btn btn-secondary">展开/折叠 所有</button>
    <button id="showColumnBtn" type="button" class="btn btn-secondary">显示/隐藏 【排序】列</button>
    <button id="destroyBtn" type="button" class="btn btn-secondary">销毁</button>
    <button id="refreshBtn" type="button" class="btn btn-secondary">refresh</button>
</div>
<table id="demo"></table>
<script type="text/javascript">
  /**
   rootIdValue: null,//设置根节点id值----可指定根节点，默认为null,"",0,"0"
   id : "id",               // 选取记录返回的值,用于设置父子关系
   parentId : "parentId",       // 用于设置父子关系
   type: 'get',                   // 请求方式（*）
   url: "./data.json",             // 请求后台的URL（*）
   ajaxParams : {},               // 请求数据的ajax的data属性
   expandColumn : 0,            // 在哪一列上面显示展开按钮
   expandAll : false,                // 是否全部展开
   expandFirst : true, // 是否默认第一级展开--expandAll为false时生效
   toolbar: null,//顶部工具条
   height: 0,
   expanderExpandedClass : 'glyphicon glyphicon-chevron-down',// 展开的按钮的图标
   expanderCollapsedClass : 'glyphicon glyphicon-chevron-right',// 缩起的按钮的图标
   **/

  var params = {
            mobile:"18838214579"
          };
  var treeTable = $('#demo').bootstrapTreeTable({
            type: 'get',                   // 请求方式（*）
            url: Feng.ctxPath + "/wxUser/list",            // 请求后台的URL（*）
            ajaxParams: params,               // 请求数据的ajax的data属性
            toolbar: "#demo-toolbar",    //顶部工具条
            expandColumn: 1,            // 在哪一列上面显示展开按钮
            id: "id",               // 选取记录返回的值,用于设置父子关系
            parentId: "empId",       // 用于设置父子关系
            expandAll: false,                // 是否全部展开
            expandFirst: true, // 是否默认第一级展开--expandAll为false时生效
            height: 500,
            columns:
                    [
                      {field: 'selectItem', radio: true},
                      {
                        title: '用户头像', field: 'headimgurl', visible: true, align: 'center', valign: 'middle',
                        formatter: function (value, row, index) {//显示图片
                          var s;
                          if (row.headimgurl != null) {
                            var url = row.headimgurl;
                            s = '<img style="width:50px;height:50px;"   src="' + url + '" />';
                          }
                          return s;
                        },

                      },
                      {title: '昵称', field: 'nickName', visible: true, align: 'center', valign: 'middle', width: '150px'},
                      // {title: '主键id', field: 'id', visible: false, align: 'center', valign: 'middle'},
                      {title: '手机号', field: 'mobile', visible: true, align: 'center', valign: 'middle'},
                      // {title: '微信openid', field: 'openid', visible: true, align: 'center', valign: 'middle'},
                      // {title: '微信号', field: 'wechatNumber', visible: true, align: 'center', valign: 'middle'},
                      // {title: '微信unionid', field: 'unionid', visible: true, align: 'center', valign: 'middle'},
                      // {title: '微信二维码', field: 'qrcode', visible: true, align: 'center', valign: 'middle'},
                      {title: '性别', field: 'sexName', visible: true, align: 'center', valign: 'middle', width: '50px'},
                      // {title: '渠道（0自主 ）', field: 'channel', visible: true, align: 'center', valign: 'middle'},
                      {title: '国家', field: 'country', visible: true, align: 'center', valign: 'middle'},
                      {title: '省份', field: 'province', visible: true, align: 'center', valign: 'middle'},
                      {title: '城市', field: 'city', visible: true, align: 'center', valign: 'middle'},
                      // {title: '地区', field: 'area', visible: true, align: 'center', valign: 'middle'},
                      // {title: '地址详情', field: 'address', visible: true, align: 'center', valign: 'middle'},
                      // {title: '用户的语言，简体中文为zh_CN', field: 'language', visible: true, align: 'center', valign: 'middle'},
                      {title: '导购用户id', field: 'empId', visible: true, align: 'center', valign: 'middle'},
                      // {title: '是否删除（0否，1是）', field: 'isDeleted', visible: true, align: 'center', valign: 'middle'},
                      {
                        title: '是否是会员', field: 'isvip', visible: true, align: 'center', valign: 'middle',
                        formatter: function (value, row, index) {
                          var s;
                          if (row.isvip != null) {
                            var temp = row.isvip;
                            if (temp == 1) {
                              s = '<div style="color: #f5ff78;background: #A60000"  >是 </div>';
                            } else {
                              s = '<div > 否</div>';
                            }
                          }
                          return s;
                        },

                      },
                      // {title: '冻结 0未冻结 1已冻结', field: 'freeze', visible: true, align: 'center', valign: 'middle'},
                      {
                        title: '最后登录时间',
                        field: 'lastLoginTime',
                        visible: true,
                        align: 'center',
                        valign: 'middle',
                        width: '150px'
                      },
                      {title: '创建时间', field: 'createTime', visible: true, align: 'center', valign: 'middle', width: '150px'},
                      // {title: '创建人', field: 'createBy', visible: true, align: 'center', valign: 'middle'},
                      // {title: '修改时间', field: 'updateTime', visible: true, align: 'center', valign: 'middle'},
                      // {title: '修改人', field: 'updateBy', visible: true, align: 'center', valign: 'middle'},
                      // {title: '预留字段', field: 'flag1', visible: true, align: 'center', valign: 'middle'},
                      // {title: '预留字段', field: 'flag2', visible: true, align: 'center', valign: 'middle'}
                    ]
          });
    $("#selectBtn").click(function () {
        var selecteds = $('#demo').bootstrapTreeTable('getSelections');
        $.each(selecteds, function (_i, _item) {
            console.log(_item);
        });
        alert("看console");
    })
    $("#addBtn").click(function () {
        var data = [{
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1038,
            "menuName": "在线查询",
            "parentName": null,
            "parentId": 109,
            "orderNum": "1",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:online:list",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1039,
            "menuName": "批量强退",
            "parentName": null,
            "parentId": 109,
            "orderNum": "2",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:online:batchForceLogout",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1040,
            "menuName": "单条强退",
            "parentName": null,
            "parentId": 109,
            "orderNum": "3",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:online:forceLogout",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1041,
            "menuName": "任务查询",
            "parentName": null,
            "parentId": 110,
            "orderNum": "1",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:job:list",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1042,
            "menuName": "任务新增",
            "parentName": null,
            "parentId": 110,
            "orderNum": "2",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:job:add",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1043,
            "menuName": "任务修改",
            "parentName": null,
            "parentId": 110,
            "orderNum": "3",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:job:edit",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1044,
            "menuName": "任务删除",
            "parentName": null,
            "parentId": 110,
            "orderNum": "4",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:job:remove",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1045,
            "menuName": "状态修改",
            "parentName": null,
            "parentId": 110,
            "orderNum": "5",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "monitor:job:changeStatus",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1046,
            "menuName": "生成查询",
            "parentName": null,
            "parentId": 113,
            "orderNum": "1",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "tool:gen:list",
            "icon": "#"
        }, {
            "searchValue": null,
            "createBy": "admin",
            "createTime": "2018-03-16 11:33:00",
            "updateBy": null,
            "updateTime": null,
            "remark": null,
            "params": null,
            "id": 1047,
            "menuName": "生成代码",
            "parentName": null,
            "parentId": 113,
            "orderNum": "2",
            "url": "#",
            "menuType": "F",
            "visible": 0,
            "perms": "tool:gen:code",
            "icon": "#"
        }];
        $('#demo').bootstrapTreeTable('appendData', data);
    })
    $("#expandRowBtn").click(function () {
        $('#demo').bootstrapTreeTable('toggleRow', 1);
    })
    var _expandFlag_all = false;
    $("#expandAllBtn").click(function () {
        if (_expandFlag_all) {
            $('#demo').bootstrapTreeTable('expandAll');
        } else {
            $('#demo').bootstrapTreeTable('collapseAll');
        }
        _expandFlag_all = _expandFlag_all ? false : true;
    });
    var _showFlag = true;
    $("#showColumnBtn").click(function () {
        if (_showFlag) {
            $('#demo').bootstrapTreeTable('hideColumn', "orderNum");
        } else {
            $('#demo').bootstrapTreeTable('showColumn', "orderNum");
        }
        _showFlag = _showFlag ? false : true;
    });
    $("#destroyBtn").click(function () {
        $('#demo').bootstrapTreeTable('destroy');
    });

    $("#refreshBtn").click(function () {

      $('#demo').bootstrapTreeTable('refresh',params);
    });
</script>
@}
