@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>小程序用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="nickName" name="昵称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="mobile" name="手机号" />
                            </div>
                            <div class="col-sm-6">
                                <#button name="搜索" icon="fa-search" clickFun="WxUser.search()"/>
                                <#button name="刷新" btnCss="danger" icon="fa-refresh" clickFun="WxUser.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="WxUserTableToolbar" role="group">
                            <#button name="查看名片" btnCss="success" icon="fa-address-card-o" clickFun="WxUser.openWxUserCardList()" />
                            <#button name="开启VIP" btnCss="primary" icon="fa-check-circle" clickFun="WxUser.openVip()" space="true" />
                            <#button name="关闭VIP" btnCss="danger" icon="fa-times-circle" clickFun="WxUser.closeVip()" space="true" />


                        </div>
                        <#table id="WxUserTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/wxUser/wxUser.js"></script>
<!--<script type="text/javascript">-->
<!--             // <button id="expandAllBtn" type="button" class="btn btn-default">展开/折叠 所有</button>-->
<!--    // var _expandFlag_all = false;-->
<!--    // $("#expandAllBtn").click(function(){-->
<!--    //     if(_expandFlag_all){-->
<!--    //         $('#WxUserTable').bootstrapTreeTable('expandAll');-->
<!--    //     }else{-->
<!--    //         $('#WxUserTable').bootstrapTreeTable('collapseAll');-->
<!--    //     }-->
<!--    //     _expandFlag_all = !_expandFlag_all;-->
<!--    // })-->
<!--</script>-->
@}
