@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>小程序用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <#NameCon id="mobile" name="手机号" />
                            </div>
                            <div class="col-sm-4">
                                <#NameCon id="nickName" name="昵称" />
                            </div>
                            <div class="col-sm-4">
                                <#button name="搜索" icon="fa-search" clickFun="WxUser.search()"/>
                                <#button name="清空" icon="fa-trash" clickFun="WxUser.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="WxUserTableToolbar" role="group">
                            @if(shiro.hasPermission("/wxUser/add")){
                                <#button name="添加" icon="fa-plus" clickFun="WxUser.openAddWxUser()"/>
                            @}
                            @if(shiro.hasPermission("/wxUser/update")){
                                <#button name="修改" icon="fa-edit" clickFun="WxUser.openWxUserDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/wxUser/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="WxUser.delete()" space="true"/>
                            @}
                            <#button name="查看名片" btnCss="info" icon="fa-address-card-o" clickFun="WxUser.openWxUserCardDetail()" space="true"/>
                            <#button name="展开" btnCss="info" icon="fa-address-card-o" clickFun="WxUser.openAll()" space="true"/>
                            <#button name="关闭" btnCss="info" icon="fa-address-card-o" clickFun="WxUser.closeAll()" space="true"/>


                        </div>
                        <#table id="WxUserTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/wxUser/wxUser.js"></script>
@}
