@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>素材评论管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MaterialComment.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MaterialCommentTableToolbar" role="group">
                            @if(shiro.hasPermission("/materialComment/add")){
                                <#button name="添加" icon="fa-plus" clickFun="MaterialComment.openAddMaterialComment()"/>
                            @}
                            @if(shiro.hasPermission("/materialComment/update")){
                                <#button name="修改" icon="fa-edit" clickFun="MaterialComment.openMaterialCommentDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/materialComment/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="MaterialComment.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="MaterialCommentTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/materialComment/materialComment.js"></script>
@}
