<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CardForwardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.CardForward">
        <id column="id" property="id" />
        <result column="card_id" property="cardId" />
        <result column="card_logo" property="cardLogo" />
        <result column="type" property="type" />
        <result column="user_id" property="userId" />
        <result column="head_img" property="headImg" />
        <result column="nickname" property="nickname" />
        <result column="forwarder_id" property="forwarderId" />
        <result column="forwarder_img" property="forwarderImg" />
        <result column="openid" property="openid" />
        <result column="company_id" property="companyId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, card_id,card_logo, type, user_id, head_img, nickname, forwarder_id,forwarder_img, openid, company_id, create_time
    </sql>

</mapper>
