<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.IncomeFlowingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.IncomeFlowing">
        <id column="id" property="id" />
        <result column="merchant_fee" property="merchantFee" />
        <result column="merchant_total_fee" property="merchantTotalFee" />
        <result column="myself_fee" property="myselfFee" />
        <result column="myself_total_fee" property="myselfTotalFee" />
        <result column="card_id" property="cardId" />
        <result column="user_id" property="userId" />
        <result column="customer_id" property="customerId" />
        <result column="openid" property="openid" />
        <result column="body" property="body" />
        <result column="out_trade_no" property="outTradeNo" />
        <result column="notify_url" property="notifyUrl" />
        <result column="package_value" property="packageValue" />
        <result column="pay_type" property="payType" />
        <result column="pay_status" property="payStatus" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_fee, merchant_total_fee, myself_fee, myself_total_fee, card_id, user_id, customer_id, openid, body, out_trade_no, notify_url, package_value, pay_type, pay_status, is_deleted, create_time, create_by, update_time, update_by
    </sql>
    <select id="get7DaysAgoTotalFee" resultType="java.util.Map">
        SELECT
        SUM( myself_fee ) AS totalFee
        FROM
        wx_income_flowing
        WHERE
        create_time &lt;= DATE_SUB( NOW(), INTERVAL 7 DAY )
        and user_id=#{userId}
        GROUP BY
        user_id
    </select>

</mapper>
