<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.MaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Material">
        <id column="id" property="id" />
        <result column="img_url" property="imgUrl" />
        <result column="simplename" property="simplename" />
        <result column="description" property="description" />
        <result column="num" property="num" />
        <result column="user_id" property="userId" />
        <result column="card_id" property="cardId" />
        <result column="category_id" property="categoryId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="flag1" property="flag1" />
        <result column="flag2" property="flag2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, img_url, simplename, description, num, user_id, card_id, category_id, is_deleted, create_time, create_by, update_time, update_by, flag1, flag2
    </sql>

</mapper>
