<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.MaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Material">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="img_url" property="imgUrl" />
        <result column="price" property="price" />
        <result column="default_img" property="defaultImg" />
        <result column="simplename" property="simplename" />
        <result column="description" property="description" />
        <result column="num" property="num" />
        <result column="user_id" property="userId" />
        <result column="card_id" property="cardId" />
        <result column="category_id" property="categoryId" />
        <result column="code" property="code" />
        <result column="pcode" property="pcode" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="flag1" property="flag1" />
        <result column="flag2" property="flag2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, img_url, price,default_img, simplename, description, num, user_id, card_id, category_id, code, pcode, is_deleted, create_time, create_by, update_time, update_by, flag1, flag2
    </sql>
    <select id="getMaterialByPid" resultType="cn.stylefeng.guns.modular.dto.MaterialInfoDto">
        SELECT
            m1.id,
            m1.pid,
            m1.img_url imgUrl,
            m1.default_img defaultImg,
            m1.price price,
            m1.simplename,
            m1.description,
            m1.card_id cardId,
            m1.user_id userId,
            m1.create_time createTime,
            m1.create_by createBy,
            m1.update_time updateTime,
            m1.update_by updateBy,
            m1.flag1,
            m1.flag2,
        IF
            ( DATE_SUB(CURDATE(), INTERVAL 3 DAY) &lt;= date(m1.create_time), 1, 0 ) label,
        IF
            ( COUNT( m2.id )> 0, 1, 0 ) hasChildren
        FROM
            wx_material m1
            LEFT JOIN wx_material m2 ON m2.pid =m1.id
        WHERE
            m1.is_deleted = 0
            AND m1.card_id = #{cardId}
            <if test="pid != null ">
                AND m1.pid = #{pid}
            </if>
        GROUP BY
            m1.id
        ORDER BY
            m1.id DESC
    </select>
    <select id="getNewMaterialByCardId" resultType="cn.stylefeng.guns.modular.dto.MaterialInfoDto">
        SELECT
        m1.id,
        m1.pid,
        m1.img_url imgUrl,
        m1.default_img defaultImg,
        m1.price price,
        m1.simplename,
        m1.description,
        m1.card_id cardId,
        m1.user_id userId,
        m1.create_time createTime,
        m1.create_by createBy,
        m1.update_time updateTime,
        m1.update_by updateBy,
        m1.flag1,
        m1.flag2
        FROM
        wx_material m1
        WHERE
        m1.is_deleted = 0
        AND DATE_SUB(CURDATE(), INTERVAL 3 DAY) &lt;= date(m1.create_time)
        AND m1.card_id = #{cardId}
        ORDER BY
        m1.id DESC
    </select>

</mapper>
