<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.MaterialCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.MaterialComment">
        <id column="id" property="id" />
        <result column="material_id" property="materialId" />
        <result column="user_id" property="userId" />
        <result column="head_img" property="headImg" />
        <result column="nickname" property="nickname" />
        <result column="content" property="content" />
        <result column="prase_count" property="praseCount" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="card_id" property="cardId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="flag1" property="flag1" />
        <result column="flag2" property="flag2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, material_id, user_id, head_img, nickname, content, prase_count, status, is_deleted, card_id, create_time, create_by, update_time, update_by, flag1, flag2
    </sql>

</mapper>
