<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.WxUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.WxUser">
        <id column="id" property="id" />
        <result column="mobile" property="mobile" />
        <result column="openid" property="openid" />
        <result column="card_id" property="cardId" />
        <result column="unionid" property="unionid" />
        <result column="qrcode" property="qrcode" />
        <result column="nick_name" property="nickName" />
        <result column="headimgurl" property="headimgurl" />
        <result column="sex" property="sex" />
        <result column="channel" property="channel" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="language" property="language" />
        <result column="emp_id" property="empId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="isvip" property="isvip" />
        <result column="freeze" property="freeze" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="flag1" property="flag1" />
        <result column="flag2" property="flag2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, emp_id,mobile, openid, card_id, unionid, qrcode, nick_name, headimgurl, sex, channel, country, province, city, area, address, language,  is_deleted, isvip, freeze, last_login_time, create_time, create_by, update_time, update_by, flag1, flag2
    </sql>
    <select id="getMaps" resultType="java.util.Map">
        SELECT
            b.mobile,
            b.nick_name,
            b.sex,
            b.country,
            b.province,
            b.city,
            b.isvip,
            b.emp_id,
            b.headimgurl
        FROM
            wx_user a
            INNER JOIN wx_user b ON b.emp_id = a.id
            OR b.id = a.id
        WHERE
            a.nick_name = '算了吧！'
        ORDER BY
            b.create_time ASC
    </select>
    <select id="selectUsers" resultType="map">
        SELECT
        u1.id,
        u1.emp_id empId,
        u1.mobile,
        u1.openid,
        u1.card_id cardId,
        u1.nick_name nickName,
        u1.headimgurl,
        u1.sex,
        u1.is_deleted isDeleted,
        u1.isvip,
        u1.vip_start_time vipStartTime,
        u1.vip_end_time vipEndTime,
        u1.freeze,
        u1.last_login_time lastLoginTime,
        u1.create_time createTime,
        u1.create_by createBy,
        u1.update_time updateTime,
        u1.update_by updateBy,
        u1.flag1,
        u1.flag2,
        COUNT( u2.id ) childCount,
        group_concat( u2.isvip ) concatIsVip
        FROM
        wx_user u1
        LEFT JOIN wx_user u2 ON u2.flag1 LIKE CONCAT( "%[", u1.id, "]%" )
        <if test="pCode != null and pCode != ''">
            WHERE  u1.flag1 like CONCAT('%',#{pCode},'%') OR u1.id =#{id}
        </if>
        GROUP BY
        u1.id;
    </select>
    <select id="selectUsersObj" resultType="cn.stylefeng.guns.modular.dto.WxUserDto">
        SELECT
        u1.id,
        u1.emp_id empId,
        u1.mobile,
        u1.openid,
        u1.card_id cardId,
        u1.nick_name nickName,
        u1.headimgurl,
        u1.sex,
        u1.is_deleted isDeleted,
        u1.isvip,
        u1.vip_start_time vipStartTime,
        u1.vip_end_time vipEndTime,
        u1.freeze,
        u1.last_login_time lastLoginTime,
        u1.create_time createTime,
        u1.create_by createBy,
        u1.update_time updateTime,
        u1.update_by updateBy,
        u1.flag1,
        u1.flag2,
        COUNT( u2.id ) childCount,
        group_concat( u2.isvip ) concatIsVip
        FROM
        wx_user u1
        LEFT JOIN wx_user u2 ON u2.flag1 LIKE CONCAT( "%[", u1.id, "]%" )
        GROUP BY
        u1.id;
    </select>
    <select id="selectStatistics" resultType="java.util.Map">
        SELECT
            COUNT( id ) total,
            group_concat( isvip ) concatIsVip
        FROM
            wx_user
    </select>

</mapper>
