@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="mobile" name="电话" value="${item.mobile}" underline="true"/>
                    <#input id="content" name="问题内容" value="${item.content}" underline="true"/>
                    <#input id="contentImg" name="内容图片" value="${item.contentImg}" underline="true"/>
                    <#input id="replyContent" name="回复内容" value="${item.replyContent}" underline="true"/>
                    <#input id="replyTime" name="回复时间" value="${item.replyTime}" underline="true"/>
                    <#input id="userId" name="用户id" value="${item.userId}" />
                </div>

                <div class="col-sm-6">
                    <#input id="status" name="状态（0处理中，1已处理）" value="${item.status}" underline="true"/>
                    <#input id="valuationLevel" name="评估等级" value="${item.valuationLevel}" underline="true"/>
                    <#input id="isDeleted" name="是否删除（0否，1是）" value="${item.isDeleted}" underline="true"/>
                    <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                    <#input id="createBy" name="创建人" value="${item.createBy}" underline="true"/>
                    <#input id="updateTime" name="修改时间" value="${item.updateTime}" underline="true"/>
                    <#input id="updateBy" name="修改人" value="${item.updateBy}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CallCenterInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CallCenterInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/callCenter/callCenter_info.js"></script>
@}
